* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}

.item1.container {
    background-color: red;
    position: relative;
}

.item2.container {
    background-color: green;
}

.item3.container {
    background-color: yellow;
}

.image1-container {
    
}

.image1-container img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image1-container h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image1-container h1 {
    color: yellow;
    text-align: center;
    font-size: 60px;
}